@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock:ital@1&display=swap");
.info {
 
  font-size: 1.5rem;
  text-align: center;
}

.imagen {
  width: 20vh;
  height: 20vh;
}

.icon {
  color: #ed9720;
}
.equipo {
 margin-top: 5vh;
 margin-bottom: 5vh;

 border: dashed 3px #ed9720;
}

.info, .equipo, .servicios{
  font-family: "Overlock", cursive;
}