.footer {
  background-color: #4287ad;
  width: 100%;
  margin-bottom: 0;
  position: relative;
  color: #95b2b0;
  border-radius: 0;
  height: 100%;
  padding: 1rem;
}
.footer h4 {
  color: #ffffff;
  font-size: 16px;
  margin-top: 5px;
  letter-spacing: 3px;
  font-weight: 800;
}
.fab {
  color: #ffffff;
}
.fab:hover {
  color: #c6ebbe;
  -webkit-box-shadow: 0px 0px 18px -6px #95b2b0;
  -moz-box-shadow: 0px 0px 18px -6px #95b2b0;
  box-shadow: 5px 5px 30px 7px #95b2b0;
}

.linkfooter {
  color: #ffffff;
  text-decoration: none;
}
.linkfooter:hover{
color: #c6ebbe;
}

.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 100%;
}