body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(240, 240, 240);
}

.carousel  img{
    filter: grayscale(100%);
    height: 500px;
    overflow: hidden;
    background-size: contain;
}


h3{
    color: #00a6a6;
    text-transform: uppercase;
    font-weight: 700 ;
    font-family: "Open Sans" , Arial, sans-serif;;
}

.btn-custom {
  color: #083396;
  background: none;
  border: 2px solid rgb(0, 166, 166);
  font: "Open Sans" , Arial, sans-serif;
}

.btn-custom:hover{
  background: rgb(0, 166, 166);
  border: 2px solid rgb(0, 166, 166);
}

.color-texto{
  color:rgb(0, 166, 166)
}

.color-texto:hover{
  color:rgb(39, 41, 44)
}