.navbar {
  background-color: #4287ad;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 20;
}
.navlink,
.navbar-light .navbar-nav .nav-link{
  color: white !important;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-brand {
  color: white !important;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 4px;
}
.active{
  color: orange !important;
}


.btn-navbar {
  background: none;
  font: "Open Sans" , Arial, sans-serif;
}

.btn-navbar:hover{
  background: rgb(0, 166, 166);
  border: 2px solid rgb(0, 166, 166);
}