.navbar {
  background-color: #4287ad;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navlink,
.navbar-light .navbar-nav .nav-link {
  color: white !important;
  text-transform: uppercase;
  font-weight: 600;
}

.dropdown-item {
  text-transform: uppercase;
  font-weight: 600;
}
.navbar-brand {
  color: white !important;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 4px;
}
