.imagenPerfilUsuario {
  overflow: hidden;
  border: #f49f0a 2px solid;
  border-style: double;
  -webkit-box-shadow: 0px 0px 18px -6px rgba(240, 135, 0, 1);
  -moz-box-shadow: 0px 0px 18px -6px rgba(240, 135, 0, 1);
  box-shadow: 0px 0px 18px -6px rgba(240, 135, 0, 1);
}
.boxPerfil {
  border: 5px solid #c6ebbe;
  border-style: dashed;
}
.botonEditarUsuario {
  background-color: #F08700;
  border-color: #F08700;
  font-weight: 700;

}
.botonEditarUsuario:hover {
  background-color: #f49f0a;
  border-color: #f49f0a;
  font-weight: 700;
}
.border-primary {
  color: #F08700;
  border-color: #c6ebbe !important;

}
