@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock:ital@1&display=swap");

h4{
  color: #0e9aa7;
}
.info {
  font-size: 1.3rem;
  text-align: center;
}

.imagen {
  width: 20vh;
  height: 20vh;
}

.icon {
  color: #4287ad;
  animation-name: fontawesome;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes fontawesome{
  0%{color: #d6e6f2;}
  20%{color: #b9d7ea;}
  40%{color:#769fcd;}
  60%{color: #4287ad;}
  80%{color: #0a97b0;}
  100%{color: #1b6ca8;}
}
.equipo {
 margin-top: 5vh;
 margin-bottom: 5vh;

 border: dashed 3px #4287ad;
}

.info, .equipo, .servicios{
  font-family: "Overlock", cursive;
  color: #333333;
}

.cardServicios {
  margin: 20px 10px;
  width: 300px;
  height: 300px;
  box-shadow: 2px 2px 12px 3px rgba(0,0,0,0.25);
  transition: 0.4s;
}

.cardServicios:hover {
  transform: scale(0.9, 0.9);
}
/* .servicios{
  min-width: 100vmin;
  background-color: rgb(250, 250, 250);
} */
